:root {

}

*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

section{
 text-align: left;
 width: 100%;
 height: auto;
 margin-top: 20px;
}

/*Imagen y texto usuario*/
.usuario{
	float: left;
	background-color: rgb(255,255,255,0.50);
	width: 50%;
	height: 100%;
}

.row-img{
display: block;
text-align: center;
width: 100%;

}

.col-img img{
	border-radius: 40px;

}
.col-nombre{
	text-align: center;
}

.row-nombre{
		width: 100%;

}

/*Ficha*/

.col-md-6{
	margin-top: 20px;
	float: left;
	width: 50%;

}

.col-md-7{
	margin-top: 20px;
	float: right;
	width: 48%;

}

.label{
	width: 100%;
	display: flex;
	margin: auto;
}
.label p{
	width: 40%;
	display: flex;
	margin-left:  auto;
}

.label input{
	border-left: 0;
	border-right:  0;
	border-top: 0;
	border-top-style:  none;
	border-left-style:  none;
	border-right-style:  none;
	background-color:   transparent;
    border-bottom-color:  #1498a4;
    width: 50%;
    display: inline;
    margin-right: auto;

}

.label input:focus  {

    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}


.txtinput {
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
	background-color: transparent;
	border-bottom-color: #1498a4;
	width: 50%;
	display: inline;
	margin-right: auto;
}

.txtinput:focus {
	outline: none !important;
	outline-width: 0 !important;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.button-user{
	border: 0;
	border-color: transparent;
	background-color: rgb(200,200,200);
	border-radius: 5px;
	margin: auto;
	margin-bottom: 10px;
	position: relative;
	bottom: 12px;
}


.button-save{
	display: block;
	border: 1;
	border-color: #1498a4;
	background-color:transparent;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
}

.div-button-save{
	display: inline-block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}
/*Titulo credenciales*/
.titulo-credenciales{
	margin-top: 1%;
	margin-left: 5%;
	margin-bottom: 5px;
	display: inline-flex;
	float: left;
}

.labelpassword{
	width: 100%;
	display: flex;
	margin: auto;
}
.labelpassword input{
	border-left: 0;
	background-color: rgb(255,255,255,0.50);
	border-right:  0;
	border-top: 0;
    width: 50%;
    height: 3px;
    display: inline;
    margin-right: auto;
    font-size: 15px;

}

.txtpwd {
	border-left: 0;
	background-color: rgb(255,255,255,0.50);
	border-right: 0;
	border-top: 0;
	width: 50%;
	height: 3px;
	display: inline;
	margin-right: auto;
	font-size: 15px;
	padding: 10px;
	border: none;
}


.labelpassword p{
	width: 40%;
	display: flex;
	margin-left:  auto;
}

#boxpwd{
	border: 2px groove black;
	border-radius: 10px;
	box-shadow: 2px;
	margin: 0;
	margin-right: 1%;

}

.btn-top{
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: black; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#btn-top:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}


/*Ficha de libros*/
.libros{
	float: right;
	width: 50%;
	background-color: rgb(255,255,255,0.50);
}

/* Para limpiar los floats */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}