:root{
    --imagen-fondo: url("../../img/backgroundposible.jpg");
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: var(--imagen-fondo);
    background-size: cover;
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario{
    background: #fff;
    position: relative;
    padding: 3px;
}
h1{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}
input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button {
    border: none;
    border-color: #669999;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #447777;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.button:hover {
    background: #558888;
    border: none;
    border-color: #77aaaa;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
    color: #447777;
    font-weight: 600;
}
.link:hover{
     color: cadetblue;
}
@media(min-width:500px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 0px;
        border-radius: 2%;
    }
}

.Logo {
    position: relative;
    margin-left: 35px;
    margin-top: 35px;
    width: 100px;
    height: 93px;
}


/* Preloader */
.hidden {
    overflow: hidden;
}

.centrado {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #000;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes ldio-hetvfw5zgq {
    0%

{
    background: #bbcedd
}

12.5% {
    background: #bbcedd
}

12.625% {
    background: #85a2b6
}

100% {
    background: #85a2b6
}

}

.ldio-hetvfw5zgq div {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #85a2b6;
    animation: ldio-hetvfw5zgq 1s linear infinite;
}

.loadingio-spinner-blocks-a73ijrg8fkr {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
}

.ldio-hetvfw5zgq {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}

.ldio-hetvfw5zgq div {
    box-sizing: content-box;
}

/*Nav*/
nav {
    /*Si lo ponemos flex se junta con el LOGIN*/
    position: relative;
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5)
}

.nav1 {
    background: transparent;
    height: 100px;
    color: #fff;
}

.nav2 {
    background: var(--nav2);
    height: 110px;
    color: #000;
}

.contenedor-nav {
    display: flex;
    margin:auto;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    height: inherit;
    overflow: hidden;
}

nav .enlaces a {
    display: inline-flex;
    padding: 5px 0;
    margin-right: 17px;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    color: inherit;
}

    nav .enlaces a:hover {
        border-bottom: 3px solid #1498a4;
        transition: 0.6s;
    }

.logo, .logo img {
    width: 100px;
    margin-left: 5%;
    margin-top: 5%;
}

.icono {
    display: none;
    font-size: 24px;
    padding: 23.5px 20px;
}

.separacion{
    margin-top: 10%;
}

/*Botones*/
.btn-registro{
    background: transparent;
    border-radius: 10px;
    position: center;
    margin: auto;
    padding: 5px;
    color: white;
    border-top: none;
    border-color: #1498a4;
}

.btn-inicio{
    background: var(--imagen-fondo);
    border-radius: 5px;
    position: center;
    margin: auto;
    padding: 5px;
    color: white;
    border-color: #1498a4;
}

/*Icono de menú cuando se hace pequeño*/
@media screen and (max-width: 700px) {
    .nav2 {
        color: #fff;
    }

    .icono {
        display: block;
        cursor: pointer;
    }

    .enlaces {
        position: fixed;
        top: 80px;
        background: #2c3e50;
        left: 0;
        height: 100%;
        transition: 1s;
        width: 0;
        overflow: hidden;
    }

        .enlaces a {
            display: block;
            width: 100%;
            height: 50px;
            padding: 20px;
            margin-left: 5%;
            text-align: center;
            background: #34495e;
            color: #fff;
        }

    .textos > h1 {
        font-size: 70px;
    }

    .textos > h2 {
        font-size: 35px;
    }

    .content-card {
        width: 48%;
        margin-bottom: var(--margenes);
    }

    :root {
        --margenes: 30px;
    }
}

@media screen and (max-width: 500px) {
    :root {
        --espacios-contenido: 25px;
    }

    .content-card {
        width: 90%;
    }

    .caja-servicios {
        width: 90%;
        margin-bottom: var(--margenes);
    }

    .cont-work {
        width: 85%;
    }

    .marca-logo {
        width: 80%;
    }

    .iconos {
        margin: auto;
    }
}