:root {
    /*Colores textos*/
    --color1: rgb(255,255,255);
    --color2: rgba(81,218,207, .46);
    --color3: rgba(210,250,251, .45);
    --fondo: #f2f2f2;
    --nav2: rgb(55,59,60, .50);
    --nav1: rgb(255,255,255, .30);
    --titulos: 33px;
    --margenes: 60px;
    --espacios: 10px;
    --espacios-contenido: 45px;
    --imagen-fondo: url("../../img/backgroundposible.jpg");
    --trabajo-img: url("../../img/imagen-trabajo.jpg");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'open sans';
    background: var(--fondo);
}

img {
    vertical-align: top;
}


/* Preloader */
.hidden {
    overflow: hidden;
}

.centrado {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #000;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes ldio-hetvfw5zgq {
    0% {
        background: #bbcedd
    }

    12.5% {
        background: #bbcedd
    }

    12.625% {
        background: #85a2b6
    }

    100% {
        background: #85a2b6
    }
}

.ldio-hetvfw5zgq div {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #85a2b6;
    animation: ldio-hetvfw5zgq 1s linear infinite;
}

.loadingio-spinner-blocks-a73ijrg8fkr {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
}

.ldio-hetvfw5zgq {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}

    .ldio-hetvfw5zgq div {
        box-sizing: content-box;
    }

/* Header */
header {
    width: 100%;
    height: 600px;
    background: var(--imagen-fondo) no-repeat fixed,linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

nav {
    width: 100%;
    position: fixed;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5)
}

.nav1 {
    background: var(--nav1);
    height: 100px;
    color: #000;
}

.nav2 {
    background: var(--nav2);
    height: 110px;
    color: #fff;
}

.contenedor-nav {
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    height: inherit;
    overflow: hidden;
}

nav .enlaces a {
    display: inline-flex;
    padding: 5px 0;
    margin-right: 17px;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    color: inherit;
}

    nav .enlaces a:hover {
        border-bottom: 3px solid #1498a4;
        transition: 0.6s;
        color: white;
    }

.logo, .logo img {
    width: 100px;
    margin-left: 5%;
    margin-top: 5%;
}

.icono {
    display: none;
    font-size: 24px;
    padding: 23.5px 20px;
}

.textos {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
    overflow: hidden;
    text-align: center;
}

    .textos > h1 {
        font-size: 80px;
    }

    .textos > h2 {
        font-size: 30px;
        font-weight: 300;
    }

/* Main */

.contenedor {
    margin: auto;
    padding: var(--margenes) 0;
    width: 90%;
    max-width: 1920px;
    text-align: center;
    overflow: hidden;
}


    .contenedor h3 {
        font-size: var(--titulos);
        color: rgb(0,0,0);
        margin-bottom: var(--espacios);
    }

    .contenedor p {
        font-size: var(--subtitulos);
        font-weight: 300;
        color: rgb(0,0,0);
    }

.after::after {
    content: '';
    display: block;
    margin: auto;
    margin-top: var(--espacios);
    width: 100px;
    height: 2px;
    background: var(--nav2);
    margin-bottom: var(--espacios-contenido);
}

.card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.content-card {
    width: 33%;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
    overflow: hidden;
    height: 600px;
}

.people {
    height: 90%;
}

.content-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/*He añadido este div para manejar por seaparado las descripciones y así poder ajustar mejor los tamaños*/
.descripciones{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
.texto-team {
    height: 30%;
    width: 30%;
    padding: var(--espacios) 0;
}

.about {
    height: auto;
    /*
     Si la queremos centrada..
        width:80%;
    display: block;
    margin: auto;
    */
}

.servicios {
    display: flex;
    color: #fff;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
}

.caja-servicios {
    width: 30%;
    margin: auto;
    text-align: center;
}

    .caja-servicios > h4 {
        margin-bottom: var(--espacios);
        color: rgb(0,0,0);
    }

    .caja-servicios > p {
        text-align: center;
    }

.botones-work {
    overflow: hidden;
}

    .botones-work li {
        display: inline-block;
        text-align: center;
        margin-left: var(--espacios);
        margin-bottom: var(--espacios-contenido);
        padding: 6px 12px;
        border: 1px solid var(--color1);
        list-style: none;
        color: var(--color1);
    }

        .botones-work li:hover {
            background: var(--color1);
            color: #fff;
            cursor: pointer;
        }

    .botones-work .active {
        background: var(--color1);
        color: #fff;
    }

.galeria-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cont-work {
    width: 31%;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
    height: 300px;
    overflow: hidden;
    margin-bottom: var(--espacios-contenido);
}

.img-work {
    height: 90%;
    width: 100%;
}

    .img-work img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

.textos-work {
    height: 10%;
}

    .textos-work h4 {
        line-height: 30px;
        font-weight: 300;
        color: white;
    }

/* Footer */

footer {
    background: linear-gradient(rgb(255,255,255,50%),rgb(0,0,0,60%)), var(--imagen-fondo) no-repeat fixed;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.marca-logo {
    width: 40%;
    margin: auto;
    margin-bottom: var(--espacios);
}

    .marca-logo img {
        width: 100px;
    }

.iconos {
    display: flex;
    margin: auto;
    justify-content: space-around;
    width: 100%;
}

.fab {
    font-size: 60px;
    color: #FFF;
    margin-bottom: var(--espacios);
    display: inline-block;
}

footer p {
    margin-top: var(--espacios);
}

@media screen and (max-width: 700px) {
    .nav2 {
        color: #fff;
    }

    .icono {
        display: block;
        cursor: pointer;
    }

    .enlaces {
        position: fixed;
        top: 80px;
        background: #2c3e50;
        left: 0;
        height: 100%;
        transition: 1s;
        width: 0;
        overflow: hidden;
    }

        .enlaces a {
            display: block;
            width: 100%;
            height: 50px;
            padding: 20px;
            margin-left: 5%;
            text-align: center;
            background: #34495e;
            color: #fff;
        }

    .textos > h1 {
        font-size: 70px;
    }

    .textos > h2 {
        font-size: 35px;
    }

    .content-card {
        width: 48%;
        margin-bottom: var(--margenes);
    }

    :root {
        --margenes: 30px;
    }
}

@media screen and (max-width: 500px) {
    :root {
        --espacios-contenido: 25px;
    }

    .content-card {
        width: 90%;
    }

    .caja-servicios {
        width: 90%;
        margin-bottom: var(--margenes);
    }

    .cont-work {
        width: 85%;
    }

    .marca-logo {
        width: 80%;
    }

    .iconos {
        margin: auto;
    }
}

#trabajo {
    background: var(--trabajo-img) 10px,10px no-repeat;
    width: auto;
    background-position: center;
    background-size: cover;
}

    #trabajo h3 {
        color: white;
    }

    #trabajo p {
        color: white;
    }

/*Botones*/
.btn-registro {
    display:none;
    background: transparent;
    border-radius: 10px;
    position: center;
    margin: auto;
    padding: 5px;
    color: white;
    border-top: none;
    border-color: #1498a4;
}

.enlaces input:hover {
    box-shadow: 0px 0px 5px 1px black;
}

.btn-inicio {
    display: none;
    background: url("img/backgroundposible.jpg");
    border-radius: 5px;
    position: center;
    margin: auto;
    padding: 5px;
    color: white;
    border-color: #1498a4;
}

.btn-top{
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: black; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#btn-top:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/*Boton usuario desplegable*/
#user{
    display: inline-block;
    position: relative;
    border-radius: 100%;
    text-align: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-height:  20px;
  max-width: 40px;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  font-size: 10px;

}


.dropdown:hover .dropdown-content {
  background-color: rgb(255,255,255,0.50);
  color: black;
  display: block;
  position: absolute;
}

.dropdown {
    display: none;
    position: static;
    margin-right: 10px;
}

.btn:hover, .dropdown:hover .btn {
  background-color: #0b7dda;
}